.ai-diff {
    .change-container {
        gap: 15px;
        font-size: 14px;
        flex-grow: 1;
        min-height: 0;
        overflow-y: auto;
      }      

    .change-inline {
        padding: 0;
        border: 0;
        cursor: pointer;
    }

    .change-button {
        text-align: start;
        background-color: #eee;
        border-radius: 5px;
        border: 1px solid #eee;
        border: 1px solid #ccc;
        overflow: hidden;
        font-size: 12px;
        color: #333;

        &.active {
            background-color: #fef9e4;
        }

        button {
            font-size: 16px;
            br {
                margin-bottom: 5px;
            }
        }

        // &:focus, &:focus:not(:focus-visible) {
        //     outline: 2px solid #333;
        // }
    }

    .click-to-apply {
        color: #999;
        padding-inline-start: 20px;
        padding-top: 3px;
        font-size: 11px;
    }

    #ai-change-preview {
        overflow: auto;
        max-height: 100%;
        padding: 10px;

        button {
            font-family: monospace;
        }
    }
}

.monaco-diff-editor .line-insert,
.monaco-editor .line-insert {
    background-color: #fff !important;
}

.editor.modified {
    padding: 10px;
}

.editor.original {
    padding: 10px;
    background-color: #eee;
    font-family: $font-family-sans-serif;

    .monaco-editor,
    .monaco-editor-background {
        background-color: #eee;
    }
    .margin {
        display: none;
    }

    .monaco-editor .cursors-layer .cursor {
        visibility: hidden !important;
    }
}

// .margin-view-overlays {
//     display: none;
// }

.highlight {
    background-color: #fdf1c1;
}

.add-highlight::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 25px;
    // -moz-border-radius: 7.5px;
    // -webkit-border-radius: 7.5px;
    // border-radius: 7.5px;
    margin-inline-start: -5px;
    // margin-block-start: 5px;
    background-color: #fdf1c1;
}

.red-highlight {
    background-color: #ffd8d8;
}

.red-highlight::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 25px;
    // -moz-border-radius: 7.5px;
    // -webkit-border-radius: 7.5px;
    // border-radius: 7.5px;
    margin-inline-start: -5px;
    // margin-block-start: 5px;
    background-color: #ffd8d8;
}

.diffOverview {
    display: none;
}

.deleted-style-guide-item {
    opacity: 0.5;
    color: "#800";
    border: 0;
    background-color: "transparent";
    font-size: 12;
    width: "100%";
}

.unread-underline {
    border-bottom: 1px solid #aaa;
}

.read-underline {
    border-bottom: 1px solid #ddd;
}
