.other-actions {
    padding: 5px;
    border: 1px solid;
    border-top: 0;
    margin-bottom: 10px;
}

.sidebar {
    .accordion-button,
    .accordion-body {
        padding: 8px;
    }
}

.accordion-button::after {
    background-size: 20px !important;
}
