.timeline,
.timeline td {
    font-size: 0.9rem;
}

.timeline td {
    padding-bottom: 10px;
}

.timeline-group-title {
    color: #999;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.timeline-item-date {
    color: #999;
}
