.toolbar-container {
    border-left: none;
    border-right: none;
    padding: 0 10px;
    position: relative;
}

.toolbar-button-group {
    display: flex;
    flex-wrap: wrap;
}

.toolbar-button {
    margin-bottom: 10px;
    text-decoration: none;
    border-radius: $border-radius;
}
