// Dark mode
$bg-color-dark: #222;
$text-color-dark: #ddd;
$border-color-dark: #444;
$bg-color-dark-dim: #333;
$text-color-dark-dim: #aaa;
$link-color-dark: #0099cc;
$popover-color-dark: #eeeeee;
$popover-bg-color-dark: #474747;
$popover-border-color-dark: #575757;
$code-color-dark: #ffa500;

// Only apply these styles to elements that don't use Tailwind's dark mode
body.dark {
    // Base styles that should apply regardless of Tailwind
    background-color: $bg-color-dark;
    color: $text-color-dark;
    scrollbar-color: rgba(209, 213, 219, 0.5) rgba(209, 213, 219, 0.125);

    // Only style elements that don't use Tailwind's dark mode
    .no-tailwind-dark {
        background-color: $bg-color-dark;
        color: $text-color-dark;
    }

    div {
        scrollbar-width: thin;
        scrollbar-color: rgba(209, 213, 219, 0.5) rgba(209, 213, 219, 0.125);
    }

    .bs-popover-start > .popover-arrow::after,
    .bs-popover-auto[data-popper-placement^="left"] > .popover-arrow::after {
        border-left-color: $popover-bg-color-dark;
    }

    .bs-popover-end > .popover-arrow::after,
    .bs-popover-auto[data-popper-placement^="right"] > .popover-arrow::after {
        border-right-color: $popover-bg-color-dark;
    }

    .popover {
        background-color: $popover-bg-color-dark;
        border: 1px solid $popover-border-color-dark;
        padding: 10px;
        font-family: $font-family-sans-serif;
        .popover-header {
            background-color: darken($popover-bg-color-dark, 5%);
            color: $popover-color-dark;
        }
        .popover-link {
            a {
                color: $link-color-dark;
                cursor: pointer;
                font-weight: bold;
                font-size: 0.8rem;
            }
            a:hover {
                text-decoration: underline;
            }
        }
        .popover-title {
            color: $popover-color-dark;
            font-weight: bold;
            font-size: 0.8rem;
        }
        .popover-body {
            max-height: 200px;
            overflow-y: scroll;
            color: $popover-color-dark;
            font-size: 0.8rem;
            line-height: 1.5;
        }
    }

    .text-with-citations {
        sup {
            color: $link-color-dark;
            cursor: pointer;
            text-decoration: underline;
            margin: 0 1px;
            font-size: 0.9em;
        }
    }

    .inline-code {
        color: $code-color-dark;
    }

    .chat-message-bot {
        // Typography
        font-family: $font-family-sans-serif;
        font-size: 14px; // Good readability size
        line-height: 1.5; // Spacing for readability
        color: $text-color-dark; // Light color for contrast against dark background

        // Markdown heading styling
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin: 10px 0;
            color: $text-color-dark; // Light color for contrast
        }

        // Markdown list styling
        ul,
        ol {
            padding-left: 20px; // Indent lists
            line-height: 1.5; // Spacing for readability
        }

        // Markdown link styling
        a {
            color: $link-color-dark; // Color for links in dark mode
            text-decoration: none; // No underline for clean look
            &:hover {
                text-decoration: underline; // Underline on hover for user feedback
            }
        }

        // Markdown block quote styling
        blockquote {
            border-left: 3px solid $border-color-dark; // Left border for distinction
            padding-left: 10px; // Padding for readability
            color: $text-color-dark-dim; // Dimmed light color for contrast
            margin: 10px 0; // Margin for spacing
        }

        // Markdown table styling
        table {
            width: 100%; // Full width
            border-collapse: collapse; // No space between borders
            margin: 10px 0; // Margin for spacing
            background-color: $bg-color-dark-dim; // Dark background color

            th,
            td {
                border: 1px solid $border-color-dark; // Border for visibility
                padding: 5px; // Padding for readability
                text-align: left; // Align text to left
                color: $text-color-dark; // Light color for contrast
            }

            th {
                background-color: darken(
                    $bg-color-dark-dim,
                    5%
                ); // Dark background color for contrast
            }
        }
    }

    .chat-full-container {
        background-color: $bg-color-dark;
        color: $text-color-dark;
    }

    button: {
        border-color: $border-color-dark;
    }

    ::placeholder {
        color: darken($text-color-dark, 20%);
    }

    .chatbox-floating-title {
        color: $text-color-dark;
    }

    .chatbox-floating-closed button {
        border-color: $border-color-dark;
    }

    .header .nav-link {
        color: $text-color-dark;
    }

    .chatbox-floating {
        background-color: $bg-color-dark;
        color: $text-color-dark;
        border-color: $border-color-dark;
    }

    .message-input {
        border-color: $border-color-dark;
    }

    .header .nav-link.active {
        border-bottom-color: $text-color-dark;
    }

    button,
    a {
        color: $text-color-dark;
        &:hover {
            color: darken($text-color-dark, 10%);
        }
    }
    .btn-check:checked + .btn,
    :not(.btn-check) + .btn:active,
    .btn:first-child:active,
    .btn.active,
    .btn.show {
        color: #555;
    }

    .chat-message-container-user {
        background-color: lighten($bg-color-dark-dim, 5%);
        border-color: $border-color-dark;
    }

    .chat-message-container-labeeb {
        border-color: $border-color-dark;
        background-color: darken($bg-color-dark-dim, 5%);
    }

    .accordion-item {
        background-color: $bg-color-dark;
        color: $text-color-dark;
        border-color: $border-color-dark;
    }

    textarea,
    .accordion,
    .accordion-inner,
    .accordion-header,
    .accordion-button,
    .form-control,
    .form-control:focus,
    .form-select,
    .message-container,
    .chat-option-box {
        background-color: $bg-color-dark-dim;
        color: $text-color-dark;
        border-color: $border-color-dark;
    }

    textarea:focus {
        border-color: $border-color-dark;
        background-color: $bg-color-dark-dim;
    }

    .modal-content,
    .list-group-item {
        background-color: $bg-color-dark-dim;
        color: $text-color-dark;
    }

    .copy-button {
        color: $text-color-dark;
    }

    .copy-text {
        color: $text-color-dark-dim;
    }

    .chat-message-list {
        background-color: $bg-color-dark-dim;
    }

    .chatbox-floating {
        &-docked {
            .message-list-container {
                border-inline-start: 1px solid $border-color-dark;
            }
        }
    }

    .import-story-box {
        border-color: $border-color-dark;
        background-color: $bg-color-dark-dim;
    }

    .start-editing-button {
        background-color: lighten($bg-color-dark-dim, 10%);
    }

    .headline-input {
        background-color: $bg-color-dark;
        &:focus {
            background-color: $bg-color-dark;
        }
    }

    .subhead-input {
        background-color: $bg-color-dark;
        &:focus {
            background-color: $bg-color-dark;
        }
    }

    .story-input {
        background-color: $bg-color-dark;
        &:focus {
            background-color: $bg-color-dark;
        }
    }

    .bt-highlight {
        color: lighten($primary, $amount: 20%);
    }

    .timeline-group-title {
        color: $text-color-dark-dim;
    }

    .timeline-item-date {
        color: $text-color-dark-dim;
    }



    .react-select {
        .react-select__control {
            background-color: $bg-color-dark;
            color: $text-color-dark;
            border-color: $border-color-dark;
        }
        .react-select__menu {
            background-color: $bg-color-dark;
            color: $text-color-dark-dim;
            border-color: $border-color-dark;
        }

        .react-select__multi-value {
            background-color: $bg-color-dark-dim;

            .react-select__multi-value__label {
                color: $text-color-dark;
            }

            color: $text-color-dark;
            border-color: $border-color-dark;
        }

        .react-select__option--is-focused {
            background-color: $bg-color-dark-dim;
            color: $text-color-dark;
        }
    }

    .text-muted {
        color: $text-color-dark-dim;
    }

    .bg-light {
        background-color: $bg-color-dark-dim;
    }

    .monaco-diff-editor .line-delete,
    .monaco-editor .line-delete {
        color: $text-color-dark;
        background-color: #220000;
    }

    .monaco-diff-editor .line-insert,
    .monaco-editor .line-insert {
        background-color: $bg-color-dark !important;
        color: $text-color-dark;
    }

    .editor.modified {
        padding: 10px;
        color: $text-color-dark;
        background-color: $bg-color-dark-dim !important;

        .monaco-editor,
        .monaco-editor-background {
            background-color: $bg-color-dark !important;
        }

        .mtk1 {
            color: $text-color-dark;
        }
    }

    .editor.original {
        padding: 10px;
        color: $text-color-dark;
        background-color: $bg-color-dark-dim !important;
        font-family: $font-family-sans-serif;

        .monaco-editor,
        .monaco-editor-background {
            background-color: $bg-color-dark-dim !important;
        }

        .mtk1 {
            color: $text-color-dark-dim;
        }

        .margin {
            display: none;
        }

        .monaco-editor .cursors-layer .cursor {
            visibility: hidden !important;
        }
    }

    .monaco-editor .margin {
        background-color: $bg-color-dark !important;
    }

    .highlight {
        background-color: #8d6700;
    }

    .deleted-style-guide-item {
        color: rgb(202, 166, 166);
    }

    .monaco-editor .diagonal-fill {
        // background-color: $bg-color-dark-dim !important;
        background-image: linear-gradient(
            -45deg,
            rgba(177, 177, 177, 0.2) 12.5%,
            #0000 12.5%,
            #0000 50%,
            rgba(34, 34, 34, 0.2) 50%,
            rgba(177, 177, 177, 0.2) 62.5%,
            #0000 62.5%,
            #0000 100%
        );
    }

    .red-highlight {
        background-color: #5e0000;
    }

    .generated-image-thumbnail {
        background-color: $bg-color-dark;
        color: $text-color-dark;
        border-color: $border-color-dark;
    }

    .prompt-info {
        .prompt {
            background-color: lighten($bg-color-dark, 20%);
            color: $text-color-dark;
            border-color: $border-color-dark;
        }
    }

    @include meta.load-css("highlight.js/styles/github-dark");

    .chat-message {
        img {
            border-color: $border-color-dark;
            background-color: $bg-color-dark;
        }
    }
}
